@model UpdatePhoneNumberViewModel
@{ 
    Layout = "~/areas/admin/Views/Shared/_Layout.cshtml";
}
<partial name="PartialCSS" />
<form action="/Admin/Phone/EditPhoneNumber" method="post">

</form>
<partial name="PartialJS" />